.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.view{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
}
.input{
    height: 50vh;
}
.info{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.video-list{
    display: flex;
    flex-direction: row;
    width: 75%;
}
.video-list>div{
    width: 33%;
    overflow-y: auto;
}
.controls{
    position: sticky;
    top: 0;
    background-color: white;
}